body {
    background-color: #FBF8F8;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

h1, h3, p {
    color: #404A65;
}

.section__titre {
    color: #404A65;
    font-size: var(--mobile-l);
    font-weight: 400;
    line-height: 23px;
    margin-left: 14px;
}

.article__btn {
    width: 120px;
    height: 30px;
    position: relative;
    margin: 0 14px 40px auto;
    z-index: -1;
} 

.article__btn p {
    text-align: center;
    background-color: #F1D456;
    border-radius: 20px;
    padding: 10px 20px;
}

.main {
    margin-top: 120px;
}


.article__titre {
    font-size: var(--mobile-s);
    font-weight: 700;
    color: #404A65;
    line-height: 18,64px;
    margin-left: 14px;
    text-align: left;
}

.article__intro {
    font-size: var(--mobile-s);
    font-weight: 400;
    color: #404A65;
    line-height: 21,12px;
    margin-left: 14px;
    text-align: left;
}

