.header__translateLogo {
    width: 20px;
    height: 20px;
}

.header__logo {
    width: 167px;
    height: 70px;
}

.article__img {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.apropos__imgRedacteur {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.filmographie__img {
    max-width: 40%;
}